<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
  <h1 style="text-align: center;">Hello From Home Page </h1>
  <p style="text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis reprehenderit consequuntur vitae in magni expedita! Corrupti incidunt autem quis labore ad voluptatibus consequuntur quo ut vel, dicta eaque dolorem enim!</p>
  <img src="assets/imges/hello.jpg" class="center">
</div>
<br>
<br>
</body>
</html>